In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Disable low_memory option
data = pd.read_csv('vehicles.csv', low_memory=False)

In [3]:
print(data.head())

   barrels08  barrelsA08  charge120  charge240  city08  city08U  cityA08  \
0  14.167143         0.0        0.0        0.0      19      0.0        0
1  27.046364         0.0        0.0        0.0       9      0.0        0
2  11.018889         0.0        0.0        0.0      23      0.0        0
3  27.046364         0.0        0.0        0.0      10      0.0        0
4  15.658421         0.0        0.0        0.0      17      0.0        0

   cityA08U  cityCD  cityE  ...  mfrCode  c240Dscr  charge240b  c240bDscr  \
0       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
1       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
2       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
3       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
4       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN

                      createdOn                    modifiedOn  startStop  \
0  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
1  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
2  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
3  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
4  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN

   phevCity  phevHwy  phevComb
0         0        0         0
1         0        0         0
2         0        0         0
3         0        0         0
4         0        0         0

[5 rows x 84 columns]

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46839 entries, 0 to 46838
Data columns (total 84 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        46839 non-null  float64
 1   barrelsA08       46839 non-null  float64
 2   charge120        46839 non-null  float64
 3   charge240        46839 non-null  float64
 4   city08           46839 non-null  int64
 5   city08U          46839 non-null  float64
 6   cityA08          46839 non-null  int64
 7   cityA08U         46839 non-null  float64
 8   cityCD           46839 non-null  float64
 9   cityE            46839 non-null  float64
 10  cityUF           46839 non-null  float64
 11  co2              46839 non-null  int64
 12  co2A             46839 non-null  int64
 13  co2TailpipeAGpm  46839 non-null  float64
 14  co2TailpipeGpm   46839 non-null  float64
 15  comb08           46839 non-null  int64
 16  comb08U          46839 non-null  float64
 17  combA08          46839 non-null  int64
 18  combA08U         46839 non-null  float64
 19  combE            46839 non-null  float64
 20  combinedCD       46839 non-null  float64
 21  combinedUF       46839 non-null  float64
 22  cylinders        46236 non-null  float64
 23  displ            46238 non-null  float64
 24  drive            45653 non-null  object
 25  engId            46839 non-null  int64
 26  eng_dscr         29610 non-null  object
 27  feScore          46839 non-null  int64
 28  fuelCost08       46839 non-null  int64
 29  fuelCostA08      46839 non-null  int64
 30  fuelType         46839 non-null  object
 31  fuelType1        46839 non-null  object
 32  ghgScore         46839 non-null  int64
 33  ghgScoreA        46839 non-null  int64
 34  highway08        46839 non-null  int64
 35  highway08U       46839 non-null  float64
 36  highwayA08       46839 non-null  int64
 37  highwayA08U      46839 non-null  float64
 38  highwayCD        46839 non-null  float64
 39  highwayE         46839 non-null  float64
 40  highwayUF        46839 non-null  float64
 41  hlv              46839 non-null  int64
 42  hpv              46839 non-null  int64
 43  id               46839 non-null  int64
 44  lv2              46839 non-null  int64
 45  lv4              46839 non-null  int64
 46  make             46839 non-null  object
 47  model            46839 non-null  object
 48  mpgData          46837 non-null  object
 49  phevBlended      46839 non-null  bool
 50  pv2              46839 non-null  int64
 51  pv4              46839 non-null  int64
 52  range            46839 non-null  int64
 53  rangeCity        46839 non-null  float64
 54  rangeCityA       46839 non-null  float64
 55  rangeHwy         46839 non-null  float64
 56  rangeHwyA        46839 non-null  float64
 57  trany            46828 non-null  object
 58  UCity            46839 non-null  float64
 59  UCityA           46839 non-null  float64
 60  UHighway         46839 non-null  float64
 61  UHighwayA        46839 non-null  float64
 62  VClass           46839 non-null  object
 63  year             46839 non-null  int64
 64  youSaveSpend     46839 non-null  int64
 65  baseModel        46839 non-null  object
 66  guzzler          2746 non-null   object
 67  trans_dscr       15044 non-null  object
 68  tCharger         10014 non-null  object
 69  sCharger         1001 non-null   object
 70  atvType          4987 non-null   object
 71  fuelType2        1873 non-null   object
 72  rangeA           1868 non-null   object
 73  evMotor          2119 non-null   object
 74  mfrCode          16031 non-null  object
 75  c240Dscr         141 non-null    object
 76  charge240b       46839 non-null  float64
 77  c240bDscr        135 non-null    object
 78  createdOn        46839 non-null  object
 79  modifiedOn       46839 non-null  object
 80  startStop        15150 non-null  object
 81  phevCity         46839 non-null  int64
 82  phevHwy          46839 non-null  int64
 83  phevComb         46839 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(24)
memory usage: 29.7+ MB
None

In [5]:
data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,46839.000000,46839.000000,46839.0,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,...,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000
mean,15.254678,0.190728,0.0,0.137831,19.350755,8.321708,0.878819,0.740117,0.000501,0.800725,...,24.618617,1.170996,35.637203,0.961148,2004.014902,-5538.541600,0.015660,0.298512,0.301544,0.298533
std,4.395047,0.978736,0.0,1.118495,11.026435,14.299800,6.690077,6.476217,0.036873,6.002955,...,15.747436,9.455378,14.200534,6.368523,12.394946,4428.850517,0.323361,3.940135,3.815051,3.858476
min,0.047081,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-39000.000000,0.000000,0.000000,0.000000,0.000000
25%,12.396250,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.602400,0.000000,28.100000,0.000000,1992.000000,-8250.000000,0.000000,0.000000,0.000000,0.000000
50%,14.875500,0.000000,0.0,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,22.000000,0.000000,33.800000,0.000000,2005.000000,-5500.000000,0.000000,0.000000,0.000000,0.000000
75%,17.500588,0.000000,0.0,0.000000,21.000000,17.272750,0.000000,0.000000,0.000000,0.000000,...,26.600000,0.000000,39.898600,0.000000,2015.000000,-2750.000000,0.000000,0.000000,0.000000,0.000000
max,42.501429,16.528333,0.0,19.000000,153.000000,155.824200,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,187.100000,173.143600,2024.000000,7000.000000,9.600000,97.000000,81.000000,89.000000

In [6]:
missing_values = data.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31689
phevCity          0
phevHwy           0
phevComb          0
Length: 84, dtype: int64

In [7]:
duplicates = data.duplicated()
print("Number of Duplicate Rows:", duplicates.sum())

Number of Duplicate Rows: 0

In [8]:
data.head(5)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [9]:
print(data.head())

   barrels08  barrelsA08  charge120  charge240  city08  city08U  cityA08  \
0  14.167143         0.0        0.0        0.0      19      0.0        0
1  27.046364         0.0        0.0        0.0       9      0.0        0
2  11.018889         0.0        0.0        0.0      23      0.0        0
3  27.046364         0.0        0.0        0.0      10      0.0        0
4  15.658421         0.0        0.0        0.0      17      0.0        0

   cityA08U  cityCD  cityE  ...  mfrCode  c240Dscr  charge240b  c240bDscr  \
0       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
1       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
2       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
3       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN
4       0.0     0.0    0.0  ...      NaN       NaN         0.0        NaN

                      createdOn                    modifiedOn  startStop  \
0  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
1  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
2  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
3  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN
4  Tue Jan 01 00:00:00 EST 2013  Tue Jan 01 00:00:00 EST 2013        NaN

   phevCity  phevHwy  phevComb
0         0        0         0
1         0        0         0
2         0        0         0
3         0        0         0
4         0        0         0

[5 rows x 84 columns]

In [10]:
data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,46839.000000,46839.000000,46839.0,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,...,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000,46839.000000
mean,15.254678,0.190728,0.0,0.137831,19.350755,8.321708,0.878819,0.740117,0.000501,0.800725,...,24.618617,1.170996,35.637203,0.961148,2004.014902,-5538.541600,0.015660,0.298512,0.301544,0.298533
std,4.395047,0.978736,0.0,1.118495,11.026435,14.299800,6.690077,6.476217,0.036873,6.002955,...,15.747436,9.455378,14.200534,6.368523,12.394946,4428.850517,0.323361,3.940135,3.815051,3.858476
min,0.047081,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-39000.000000,0.000000,0.000000,0.000000,0.000000
25%,12.396250,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.602400,0.000000,28.100000,0.000000,1992.000000,-8250.000000,0.000000,0.000000,0.000000,0.000000
50%,14.875500,0.000000,0.0,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,22.000000,0.000000,33.800000,0.000000,2005.000000,-5500.000000,0.000000,0.000000,0.000000,0.000000
75%,17.500588,0.000000,0.0,0.000000,21.000000,17.272750,0.000000,0.000000,0.000000,0.000000,...,26.600000,0.000000,39.898600,0.000000,2015.000000,-2750.000000,0.000000,0.000000,0.000000,0.000000
max,42.501429,16.528333,0.0,19.000000,153.000000,155.824200,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,187.100000,173.143600,2024.000000,7000.000000,9.600000,97.000000,81.000000,89.000000

In [11]:
missing_values = data.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31689
phevCity          0
phevHwy           0
phevComb          0
Length: 84, dtype: int64

In [12]:
data = data.dropna(subset=['startStop'])

In [13]:
missing_values = data.isnull().sum()
print("Missing Values:")
print(missing_values)

Missing Values:
barrels08     0
barrelsA08    0
charge120     0
charge240     0
city08        0
             ..
modifiedOn    0
startStop     0
phevCity      0
phevHwy       0
phevComb      0
Length: 84, dtype: int64

In [14]:
# Select relevant columns
data = data[['displ', 'cylinders', 'comb08']]


# Encode categorical variables if needed
# For example, 'cylinders' can be one-hot encoded
data = pd.get_dummies(data, columns=['cylinders'], drop_first=True)

KeyError: "['weight'] not in index"